@import "./variables";

h1 {
    color: $red-color;
}

#logo {
    width: 40px;
    height: 40px;
}

.link-detai {
    text-decoration: none;
    color: black;
}

.link-detai :hover {
    color: blue;
}
